meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: false;
}

/*
 * Window styles
 */
meta.window {
  border-color: transparent;
  background-color: #1E2030;
}
meta.titlebar {
  color: #cad3f2;
  border-color: hsla(0, 0%, 0%, 0.5);
}
meta.button {
  color: #cad3f2;
  background: #3c425f;
  border: none;
}
meta.button.highlighted {
  color: #ffffff;
  background: #3d59a1;
}
meta.button.selected {
  color: #ffffff;
  background: #f19b74;
  border: transparent;
}
meta.button.highlighted.selected {
  background: #f6c983;
}
meta.button.disabled {
  background: transparent;
}
meta.textfield {
  background-color: transparent;
  border-color: #3c425f;
}
meta.textfield.highlighted {
  border-color: #f19b74;
}
meta.accent {
  color: #f19b74;
}

/*
 * Document styles
 */
meta.document {
  background-color: #222436;
  border-color: transparent;
}
meta.document.textfield {
  background-color: #1E2030;
  border-color: #3c425f;
}
meta.document.textfield.highlighted {
  border-color: #f19b74;
}

/* Text */
meta.text {
  color: #cad3f2;
}
meta.text.invisible {
  color: hsla(210, 100%, 90%, 0.1);
}
meta.text.selected {
  color: #ffffff;
  background-color: #3c425f;
}

/* Cursor */
meta.cursor {
  background-color: #30334b;
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsla(220, 5%, 48%, 0.2);
}

/* Gutter */
meta.gutter {
  color: #3c425f;
}
meta.gutter.selected {
  color: #f19b74;
  font-weight: bold;
}

/*
 * Syntax styles
 */
comment {
  color: #848bb4;
  font-style: italic;
}

processing {
  color: #8aa9f9;
}

declaration {
  color: #8aa9f9;
}

bracket {
  color: #848bb4;
}

operator {
  color: #8aa9f9;
}

invalid {
  background-color: #ee7d82;
  color: #cad3f2;
}

link {
  color: #f19b74;
}

/* Keywords */
keyword {
  color: #f0abe6;
  font-style: italic;
}
keyword.modifier {
  color: #9cdbfb;
  font-style: normal;
}
keyword.condition {
  color: #9cdbfb;
}
keyword.construct {
  color: #9cdbfb;
}
keyword.statement {
  color: #9cdbfb;
}
keyword.self {
  color: #9cdbfb;
}
keyword.self.prefix {
  color: #9cdbfb;
}

/* Values */
value.boolean {
  color: #f19b74;
}
value.null {
  color: #f19b74;
}
value.number {
  color: #f19b74;
}
value.entity {
  color: #f6c983;
}
value.symbol {
  color: #f6c983;
}

/* Identifiers */
identifier.type {
  color: #f6c983;
}
identifier.constant, identifier.global, identifier.variable {
  color: #f0abe6;
}
identifier.constant.prefix, identifier.global.prefix, identifier.variable.prefix {
  color: #cad3f2;
}
identifier.property {
  color: #77d3bf;
}
identifier.property.prefix {
  color: #f0abe6;
}
identifier.decorator, identifier.function, identifier.method {
  color: #9cdbfb;
}
identifier.key {
  color: #ba9bf8;
}
identifier.argument {
  color: #f6c983;
}
identifier.argument.prefix {
  color: #9cdbfb;
}

punctuation.delimiter {
  color: #77d3bf;
}

/* Strings */
string {
  color: #cae797;
}
string.delimiter {
  color: #77d3bf;
}
string.escape {
  color: #f19b74;
}
string.key {
  color: #ba9bf8;
}
string-keyword {
  color: #f6c983;
}
string-template {
  color: #f19b74;
}

regex {
  color: #f19b74;
}

regex.escape {
  color: #f6c983;
}

cdata {
  color: #3d59a1;
}

/* Markup */
markup.heading {
  color: #f19b74;
  font-weight: bold;
}

markup.line {
  color: #f6c983;
}

markup.bold {
  color: #cae797;
  font-weight: bold;
}

markup.italic {
  color: #77d3bf;
  font-style: italic;
}

markup.strikethrough {
  color: #ee7d82;
}

markup.list.item {
  color: #f6c983;
}

markup.code {
  background-color: rgba(128, 128, 128, 0.2);
}

markup.link {
  color: #9cdbfb;
}

/* Types */
/* Members */
/* Tags */
tag {
  color: #8aa9f9;
}
tag.name {
  color: #ba9bf8;
}
tag.framework {
  color: #cae797;
}
tag.framework.name {
  color: #ba9bf8;
}
tag.framework.attribute.name {
  color: #f0abe6;
}
tag.attribute.name {
  color: #77d3bf;
}
tag.attribute.value {
  color: #cae797;
}
tag.attribute.value.delimiter {
  color: #cae797;
}
tag.attribute.operator {
  color: #f0abe6;
}
tag.attribute.value.link {
  color: #f6c983;
}

/* Styles */
style.at {
  color: #f19b74;
  font-weight: bold;
}
style.selector.element {
  font-weight: bold;
}
style.selector.identifier.id {
  color: #f19b74;
}
style.selector.identifier.class {
  color: #77d3bf;
}
style.selector.pseudoclass {
  color: #ba9bf8;
}
style.selector.pseudoelement {
  color: #f6c983;
}
style.attribute.name {
  color: #77d3bf;
}
style.value .number {
  color: #f19b74;
}
style.value.color.hex {
  color: #f6c983;
}
style.value.keyword {
  color: #8aa9f9;
}
style.value.color.named {
  color: #8aa9f9;
}
style.value.identifier.function {
  color: #77d3bf;
}

/**
 * Terminal
 */
terminal.red {
  color: #ee7d82;
}
terminal.green {
  color: #77d3bf;
}
terminal.yellow {
  color: #f6c983;
}
terminal.blue {
  color: #8aa9f9;
}
terminal.magenta {
  color: #ba9bf8;
}
terminal.cyan {
  color: #9cdbfb;
}
terminal.white {
  color: #cad3f2;
}
