// Text by contrast
$text-high: #ffffff;
$text: 		#cad3f2;
$text-low: 	#848bb4;

// Backgrounds by contrast
$background-lower: 	#3c425f;
$background-low: 	#30334b;
$background: 		#222436;
$background-high: 	#1E2030;

// Colors
$red: 		#ee7d82;
$pink: 		#f0abe6;
$purple: 	#ba9bf8;
$blue: 		#3d59a1;
$lightblue: #8aa9f9;
$cyan: 		#9cdbfb;
$green: 	#77d3bf;
$lime: 		#cae797;
$yellow: 	#f6c983;
$orange: 	#f19b74;
$white: 	#cad3f2;

meta {
	-theme-interface-style: dark;
	-theme-vibrancy: none;
	-theme-accent-color: false;
}

/*
 * Window styles
 */

meta {
	
	&.window {
		border-color: transparent;
		background-color: $background-high;
	}
	
	&.titlebar {
		color: $text;
		border-color: hsla(0, 0%, 0%, 0.5);
		
		&.inactive {}
		
	}
	
	&.button {
		color: $text;
		background: $background-lower;
		border: none;
		
		&.highlighted {
			color: $text-high;
			background: $blue;
		}
		
		&.selected {
			color: $text-high;
			background: $orange;
			border: transparent;
		}
		
		&.highlighted.selected {
			background: $yellow;
		}
		
		&.disabled {
			background: transparent;
		}
		
	}

	&.textfield {
		background-color: transparent;
		border-color: $background-lower;
		
		&.highlighted {
			border-color: $orange;
		}
		
	}
	
	&.accent {
		color: $orange;
	}
	
}

/*
 * Document styles
 */
meta.document {
	background-color: $background;
	border-color: transparent;
	
	&.textfield {
		background-color: $background-high;
		border-color: $background-lower;
	
		&.highlighted {
			// background-color: hsl(210, 5%, 10%);
			border-color: $orange;
		}
		
	}

}

/* Text */
meta.text {
	color: $text;

	&.invisible {
		color: hsla(210, 100%, 90%, .1);
	}
	
	&.selected {
		color: $text-high;
		background-color: $background-lower;
	}
	
}

/* Cursor */
meta.cursor {
	background-color: $background-low;
}

/* Indentation Guides */
meta.indentguide {
	border-color: hsla(220, 5%, 48%, 0.2);
}

/* Gutter */
meta.gutter {
	color: $background-lower;
	
	&.selected {
		color: $orange;
		font-weight: bold;
	}
	
}

/*
 * Syntax styles
 */
comment {
	color: $text-low;
	font-style: italic;
}
processing {
	color: $lightblue;
}
declaration {
	color: $lightblue;
}
bracket {
	color: $text-low;
}
operator {
	color: $lightblue;
}
invalid {
	background-color: $red;
	color: $text;
}
link {
	color: $orange;
}

/* Keywords */
keyword {
	color: $pink;
	font-style: italic;
	
	&.modifier {
		color: $cyan;
		font-style: normal;
	}
	
	&.condition { color: $cyan; }
	&.construct { color: $cyan; }
	&.statement { color: $cyan; }
	&.self { color: $cyan; }
	&.self.prefix { color: $cyan; }
}

/* Values */
value {
	
	&.boolean {
		color: $orange;
	}
	
	&.null { color: $orange; }
	&.number { color: $orange; }
	&.entity { color: $yellow; }
	&.symbol { color: $yellow; }
	
}

/* Identifiers */
identifier {
	
	&.type {
		color: $yellow;
	}
	
	&.constant,
	&.global,
	&.variable {
		color: $pink;
	}
	
	&.constant.prefix,
	&.global.prefix,
	&.variable.prefix {
		color: $text;
	}
	
	&.property {
		color: $green;
	}
	
	&.property.prefix {
		color: $pink;
	}
	
	&.decorator,
	&.function,
	&.method {
		color: $cyan;
	}
	
	&.key {
		color: $purple;
	}
	
	&.argument {
		color: $yellow;
	}
	
	&.argument.prefix {
		color: $cyan;
	}
	
}

punctuation {
	&.delimiter {
		color: $green;
	}
}

/* Strings */
string {
	color: $lime;
	
	&.delimiter {
		color: $green;
	}
	
	&.escape {
		color: $orange;
	}
	
	&.key {
		color: $purple;
	}
	
	&-keyword {
		color: $yellow;
	}
	
	&-template {
		color: $orange;
	}
	
}

regex {
	color: $orange;
}
regex.escape {
	color: $yellow;
}
cdata {
	color: $blue;
}

/* Markup */
markup.heading {
	color: $orange;
	font-weight: bold;
}
markup.line {
	color: $yellow;
}
markup.bold {
	color: $lime;
	font-weight: bold;
}
markup.italic {
	color: $green;
	font-style: italic;
}
markup.strikethrough {
	color: $red;
}
markup.list.item {
	color: $yellow;
}
markup.code {
	background-color: rgba(128, 128, 128, 0.2);
}
markup.link {
	color: $cyan;
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {}

/* Members */
definition.property.name {}
definition.function.name,
definition.method.name {}

/* Tags */
tag {
	color: $lightblue;

	&.name {
		color: $purple;
	}
	
	&.framework {
		color: $lime;
		&.name { color: $purple; }
	}
	
	&.framework.attribute.name {
		color: $pink;
	}
	
	&.attribute {
		&.name { color: $green; }
		&.value { color: $lime; }
		&.value.delimiter { color: $lime; }
		&.operator { color: $pink; }
		&.value.link { color: $yellow; }
	}

}

/* Styles */
style {
	
	&.at {
		color: $orange;
		font-weight: bold;
	}
	
	&.selector {
		&.element { font-weight: bold; }
		&.identifier.id { color: $orange; }
		&.identifier.class { color: $green; }
		&.pseudoclass { color: $purple; }
		&.pseudoelement { color: $yellow; }
	}
	&.attribute.name { color: $green; }
	&.value {
		.number { color: $orange; }
		&.color.hex { color: $yellow; }
		&.keyword { color: $lightblue; }
		&.color.named { color: $lightblue; }
		&.identifier.function { color: $green; }
	}

}

/**
 * Terminal
 */
terminal {
	&.red { color: $red; }
	&.green { color: $green; }
	&.yellow { color: $yellow; }
	&.blue { color: $lightblue; }
	&.magenta { color: $purple; }
	&.cyan { color: $cyan; }
	&.white { color: $white; }
}
